<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0;">

		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cheesetart.css') }}">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<header>
		<div id="sideb">
		<div id="sBM"><img id="SBMP" class="liTG" src="../static/img/sbi.png"></div>
		<div id="sB1"><span class="picon icon-graph"></span><b>&nbsp;Analytics</b></div>
		<ul class="sB1l">
		<li id="SB1l1" class="liTG lisB">&nbsp;Acquisition</li>
		<li id="SB1l2" class="liTG lisB">&nbsp;Engagement</li>
		<li id="SB1l3" class="liTG lisB">&nbsp;Meetings</li>
		<li id="SB1l4" class="liTG lisB">&nbsp;Connections</li>
		</ul>
		<div id="sB2"><span class="picon icon-sound"></span><b>&nbsp;Communications</b></div>
		<ul class="sB2l">
		<li id="SB2l1" class="liTG lisB">&nbsp;Feedbacks</li>
		</ul>
		</div>
		</header>
		
		<div class="mP">

		</div>

        <footer>
		<div id="bBG"></div>
		<div id="ePP">
			<div class="row">
				<div class="col-xs-5">
				<p><b id="pName"></b><p>
				<p id="pCo"></p>
				<a href="/logout" role="button" class="btn gBG">Sign out</a>
				</div>
				<div class="col-xs-7">
				<b>You are on..</b>
				<p>Match&copy; : <span id="pMT"></span></p>
				<p>Sense&copy; : <span id="pST"></span></p>
				<p id="pTU"></p>
				</div>
			</div>
		</div>
		<div id="eTG" class="eTGFT"><p class="c eTGP">Loading your event profiles & data..</p><button id="eTGb" class="btn tBG"><span class="picon icon-vcard oC"></span></button><select id="eTGin" class="eTGini" name="event"><option value="" style="display:none">Select an event...</option></select></div>
        </footer>

        </div>

        <script src="{{ url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/can.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>

    </body>
</html>
