<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0;">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<header>
		</header>

<input type="checkbox" name="handler-right" class="handler" id="handler-right" onclick="null" />
<input type="checkbox" name="handler-left" class="handler" id="handler-left" onclick="null" />

<div id="menu">
<h3 style="color:white;padding:20px;">Araine <sup><span class="label label-success">Available</span></sup></h3>
		<form method='POST' action='#'>
		<div class="input-group chatting" style="position:absolute;bottom:5px;">
		  <input name='data' id="data" type="text" class="form-control" placeholder="Type a message..">
		  <div id="chatlog" style="position:absolute;width:100%;bottom:50px;margin:0px 10px;font-size:12px;"></div>
		  <span class="input-group-btn">
			<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-pencil"></span></button>
		  </span>
		</div><!-- /input-group -->
		</form>
</div>

<div id="wrapper">
    <div id="content">
        
	<div id="panlm" class="panl">
	<div id="meetingtab" class="row"><div class="col-xs-9"><h4 style="padding-left:5px;">My Meetings</h4></div><div class="col-xs-3 c"><h4><span id="meetingtab1" class="glyphicon glyphicon-plus"></span></h4></div></div>
	<div id="meetinglist" class="inactive"></div>
	</div>
	
	<div id="panlr" class="panl">
	<div class="row"><div class="col-xs-12"><h4 style="padding-left:15px;">Recommended for you to visit</h4></div></div>
	<table style="width:100%;">
	<tr>
	  <td id="rec_1" colspan="2" style="height:100px;"><h4><span class="label label-success">Lamborghini</span></h4></td>
	  </tr>
	<tr>
	  <td id="rec_2" rowspan="2" style="width:50%;height:150px;"><h4><span class="label label-success">Mercedes</span></h4></td>
	  <td id="rec_3" style="width:50%;height:75px;"><p><span class="label label-success">Ferrari</span></p></td>		
	</tr>
	<tr>
	  <td id="rec_4"><p><span class="label label-success">Maserati</span></p></td>		
	</tr>
	</table>
	</div>
	
	<div id="panlr" class="panl">
	<div class="row"><div class="col-xs-12"><h4 style="padding-left:15px;">Happening soon..</h4></div></div>
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a id="hn0" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			  Rolls-Royce Seminar
			</a>
		  </h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
		  <div class="panel-body">
			<img style="width:100%;" src="static/img/hn_1.png">
		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <p class="panel-title">
			<a id="hn1" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			  Jeep Off Road Riding
			</a>
		  </p>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
		  <div class="panel-body">
			<img style="width:100%;" src="static/img/hn_2.png">
		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <p class="panel-title">
			<a id="hn2" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			  Proton Seminar
			</a>
		  </p>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
		  <div class="panel-body">
			<img style="width:100%;" src="static/img/hn_3.png">
		  </div>
		</div>
	  </div>
	</div>
	</div>
	
	<div id="panlr" class="panl panls">
	<div class="row"><div class="col-xs-12"><h4 style="padding-left:15px;">Search results</h4></div></div>
	<div class="panel-group" id="accordion2">
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a id="st0" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
			  
			</a>
		  </h4>
		</div>
		<div id="collapseOne2" class="panel-collapse collapse in">
		  <div id="sp2" class="panel-body">
		  
		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <p class="panel-title">
			<a id="st1" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2">
			  
			</a>
		  </p>
		</div>
		<div id="collapseTwo2" class="panel-collapse collapse">
		  <div id="sp1" class="panel-body">
			
		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <p class="panel-title">
			<a id="st2" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
			  
			</a>
		  </p>
		</div>
		<div id="collapseThree2" class="panel-collapse collapse">
		  <div id="sp2" class="panel-body">
			
		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <p class="panel-title">
			<a id="st3" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree3">
			  
			</a>
		  </p>
		</div>
		<div id="collapseThree3" class="panel-collapse collapse">
		  <div id="sp3" class="panel-body">
			
		  </div>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <p class="panel-title">
			<a id="st4" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree4">
			  
			</a>
		  </p>
		</div>
		<div id="collapseThree4" class="panel-collapse collapse">
		  <div id="sp4 " class="panel-body">
			
		  </div>
		</div>
	  </div>
	</div>
	</div>
        
    </div>
	
    <div id="button">
		<div class="headerimg row">
		<div class="col-xs-2"><label for="handler-left" id="left" href="#"><img src="{{ url_for('static', filename='img/concierge.png') }}"></label></div>
		<div class="col-xs-10">
		<div class="input-group inputsearch">
		  <input id="searching" type="text" class="form-control" placeholder="Search exhibitors or interests..">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
		  </span>
		</div><!-- /input-group -->
		</div>
		</div>
	</div>
</div>

        <footer>
        </footer>

        </div>

        <script src="{{ url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
